{% extends "base.html" %}

{% block content %}

<div>
  <h2>Final Totals</h2>
  <table class="table table-dark">
    <tr><th>Team Name</th><th>Score</th></tr>
    {% for line in totals %}<tr>
    {% for element in line %}<td>{{ element }}</td>
    {% endfor %}</tr>
    {% endfor %}
  </table>
  </div>


<div>
<h2>Round 1</h2>
<table class="table table-dark">
  <tr><th>Team Name</th><th>Score</th></tr>
  {% for result in r1_results %}
  <tr><td>{{ result.this_team }}</td>
  <td>{{ result.score }}</td></tr>
  {% endfor %}
</table>
</div>

<div>
<h2>Round 2</h2>
<table class="table table-dark">
  <tr><th>Team Name</th><th>Score</th></tr>
  {% for result in r2_results %}
  <tr><td>{{ result.this_team }}</td>
  <td>{{ result.score }}</td></tr>
  {% endfor %}
</table>
</div>

<div>
<h2>Round 3</h2>
<table class="table table-dark">
  <tr><th>Team Name</th><th>Score</th></tr>
  {% for result in r3_results %}
  <tr><td>{{ result.this_team }}</td>
  <td>{{ result.score }} </td></tr>
  {% endfor %}
</table>
</div>

<div>
<h2>Round 4</h2>
<table class="table table-dark">
  <tr><th>Team Name</th><th>Score</th></tr>
  {% for result in r4_results %}
  <tr><td>{{ result.this_team }} </td>
  <td>{{ result.score }} </td></tr>
  {% endfor %}
</table>
</div>

<div>
<h2>Round 5</h2>
<table class="table table-dark">
  <tr><th>Team Name</th><th>Score</th></tr>
  {% for result in r5_results %}
  <tr><td>{{ result.this_team }} </td>
  <td>{{ result.score }} </td></tr>
  {% endfor %}
</table>
</div>

<div>
<h2>Round 6</h2>
<table class="table table-dark">
  <tr><th>Team Name</th><th>Score</th></tr>
  {% for result in r6_results %}
  <tr><td>{{ result.this_team }} </td>
  <td>{{ result.score }} </td></tr>
  {% endfor %}
</table>
</div>

{% endblock %}